body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: top 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000; /* Ensures navbar is on top */
}

nav h1 {
    margin: 0;
    font-size: 1.2em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 60px; /* Adjust based on navbar height */
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(25% - 20px); /* 4 cards per row with some margin */
    box-sizing: border-box;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: inherit; /* Ensure link text color matches surrounding text */
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 20px); /* 3 cards per row */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* 2 cards per row */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 card per row */
    }
}